html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #1b1b15;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
}

main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  flex: 1;
}

h1 {
  margin-top: 1em;
  margin-bottom: 2em;
}

.about-us blockquote {
  display: block;
  font-size: 1.5em;
  line-height: 1.75em;
  position: relative;
  padding: 0.5em 0 0.5em 1em;
  font-style: italic;
  margin: 1em 0;
}
.about-us blockquote::before {
  content: '';
  background-color: #2980b9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
}
.tools {
  margin: 3em;
  padding: 2em;
  color: #2980b9;
}
