@import './common.css';
@import './components/header.css';
@import './components/users-grid.css';
@import './components/footer.css';

h1 {
  margin-bottom: 0;
}

.page-description {
  font-size: 1.25em;
}

hr {
  margin: 5em 0em;
}
