header {
  display: flex;
  height: 3.3em;
  align-items: center;
  padding: 0 5vw;
  position: relative;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-bottom: 1px solid #bcc2c6;
}

.main-nav li {
  display: inline-block;
  color: #1b1b15;
  margin: 0 0.5em;
}

.main-nav li a {
  font-size: 1.1em;
  padding-bottom: 0.1em;
  text-decoration: none;
  border-bottom: 1px solid #1b1b15;
}
